# Игнорируем тяжелые папки LibTorch
libraries/libtorch/libtorch-debug/
libraries/libtorch/libtorch-relese/

# Игнорируем скомпилированные файлы и библиотеки (хорошая практика для С++)
*.dll
*.lib
*.pdb
*.exe

# Игнорируем папки Visual Studio и сборки
.vs/
x64/
Debug/
Release/
packages/
libraries/